* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    /* background-image: url("../img/img_girl.jpg"); */
    background-image: url("../img/coding-wallpaper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 90%; */
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.typed-cursor {
    font-size: 1.5rem;
    color: #333;
}